@font-face {
	 font-family: 'buscape';
	 src: url('buscape.woff2') format('woff2');
	 font-weight: 1 999;
}

body{
	 font-family: buscape, sans-serif;
	 font-weight: 380;
	 font-stretch: 75%;
	 font-size: 1em;
	 line-height: 1.33em;
	 
	 word-wrap: break-word;
	 overflow-wrap: break-word;
	 margin: auto;

	 background-color:#FFFFFF;
	 color:#000000;
	 font-feature-settings: "ss01";	 
}

nav{
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	background-color: #FFC500;
	padding: 1em;
}

nav input{
	flex-grow: 2;
	border-radius: 10px;
	padding: 0.6em;
	font-family: buscape, sans-serif;
	font-size: 1.2em;
	text-align: center;
}
nav svg, nav a{
	flex-grow: 1;
	text-align: center;
	margin: auto;
}


h1,h2,h3 {
	 font-weight: 500;
	 font-stretch: 75%;
	 letter-spacing: -0.33px;
	 line-height: 1em;
	 margin-top: 0.5em;
	 margin-bottom: 0.5em;
}
ol,p{
margin-top: 0.5em;
margin-bottom: 0.5em;
}
 span{
	 text-transform:uppercase;
}

main
{
	max-width: 60ch;
	margin: 4em auto auto;
}
 