@font-face {
	 font-family: 'buscape';
	 src: url('buscape.woff2') format('woff2');
	 font-weight: 1 999;
}

body{
	 font-family: buscape, sans-serif;
	 font-weight: 380;
	 font-stretch: 75%;
	 font-size: 1em;
	 line-height: 1.33em;
	 
	 word-wrap: break-word;
	 overflow-wrap: break-word;
	 margin: auto;

	 background-color:#FFC500;
	 color:#000000;
	 font-feature-settings: "ss01";
}

nav{
//	display: flex;
//	flex-grow: 1;
//	justify-content: space-between;
//	align-items: center;
//	flex-wrap: nowrap;
	
	display: grid;	
	grid-template-columns: 1fr 1.5fr 1fr;
	padding: .66em;
	
	background-color: #FFC500;
}

nav input{
	border-radius: 100px;
	font-family: buscape, sans-serif;
	font-size: 1.2em;
	border: none;
	box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.15);
	height: 30px;
	margin: auto;
	width: 100%;
	text-align: center;
}
nav a{
	flex-grow: 1;
	text-align: center;
	margin: auto;	
}


h1,h2,h3 {
	 font-weight: 500;
	 font-stretch: 75%;
	 letter-spacing: -0.33px;
	 line-height: 1em;
	 margin-top: 0.5em;
	 margin-bottom: 0.5em;
}

main
{
	margin: auto;
	padding: 2em 2em 100vh 2em;
	background-color: white;
	width: 100%;	
}

main p
{
	max-width: 60ch;
}

nav svg
{	
	max-width: 8em;
	height: auto;
	margin: auto;
	transform: translatey(9%);
}

details{
	font-size: 1.2em;
	margin: auto;	
}
summary{
	padding:1em;
	border-radius:10px;
}
 
summary:hover{
 	background-color: rgba(0,0,0,0.1);	
 	cursor:pointer;
 }
 
 .overlay
 {
 	position:fixed;
 	top:0;
 	bottom:0;
 	left:0;
 	right:0;
	background-color: rgba(0,0,0,0);
 	pointer-events: none;	
 	transition: opacity 0.1s ease-out;
 	display:none;
 }
 
details[open] .overlay{
 	pointer-events: all;
	display:block;
 }
 
details[open] summary{
 	background-color: rgba(0,0,0,0.1);
} 

details[open] summary:hover{
	cursor: default;
}
 .overlay-modal{
 	background-color: #fcfcfc;
 	padding: 2em;
 	height: 300px;
 	width: 200px;
 	position: absolute;
 	right: 2em;
 	top: 3em;
	border-radius: 9px;
	border:1px solid #ddd;
	box-shadow: 0 4px 10px rgba(0,0,0,0.1);
 }
 
 
 